h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Cedarville Cursive", cursive;
  font-size: 40px;
}

body {
  background-color: rgb(245, 210, 245);
}

#borda {
  border: rgb(226, 29, 226) dotted 5px;
  border-radius: 10px;
  margin-right: 800px;
  border-width: 5px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Playfair Display", serif;
}

#borda2 {
  border: rgb(226, 29, 226) dotted 5px;
  border-radius: 10px;
  margin-left: 800px;
  border-width: 5px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Playfair Display", serif;
}

#borda3 {
  border: rgb(226, 29, 226) dotted 5px;
  border-radius: 10px;
  margin-right: 800px;
  border-width: 5px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Playfair Display", serif;
}

#borda4 {
  border: rgb(226, 29, 226) dotted 5px;
  border-radius: 10px;
  margin-left: 800px;
  border-width: 5px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Playfair Display", serif;
}

td {
  color: rgb(247, 166, 166);
  font-size: 18px;
  font-weight: bold;
  font-family: "Kanit", sans-serif;
  margin-right: auto;
}

.material-symbols-outlined {
  position: fixed;
  bottom: 30px;
  right: 30px;
  visibility: visible;
}

#title1:hover {
  background-color: yellow;
  color: black;
}

#borda2:hover {
  background-color: lightpink;
}

#borda:hover {
  background-color: lightpink;
}

#borda3:hover {
  background-color: lightpink;
}

#borda4:hover {
  background-color: lightpink;
}

td:hover {
  background-color: rgb(184, 126, 184);
}

h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Raleway", sans-serif;
  color: navy;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

p:hover {
  background-color: palevioletred;
}

div {
  position: absolute;
  margin-bottom: 10px;
  left: 40%;
}

#zap {
  text-align: center;
}

#zap:hover {
  background-color: green;
}

#instagram {
  text-align: center;
}

#instagram:hover {
  background-color: rgb(233, 192, 233);
}

#email {
  text-align: center;
}

#email:hover {
  background-color: rgb(253, 130, 130);
}

#ctt {
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

#title {
  font-family: "Raleway", sans-serif;
  color: navy;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#avaliacao {
  color: black;
  text-align: center;
  font-family: "Raleway", sans-serif;
  border: blueviolet dotted 5px;
  border-radius: 5px purple;
  margin-right: 30px;
  margin-left: 30px;
}

#avaliacao:hover {
  background-color: plum;
}

form {
  text-align: center;
  align-items: center;
}

.bordinha {
  border: purple solid 5px;
  width: 500px;
  border-radius: 10px;
  margin-left: -4em;
}

#logtext {
  font-family: serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 22px;
}

#facil:hover {
  background-color: greenyellow;
}

#heart:hover {
  display: block;
  text-decoration: none;
  line-height: 15px;
  background: rgb(168, 25, 25);
  padding-left: 15px;
}

#index {
  background-color: rgb(245, 210, 245);
}

.nav-item {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Cedarville Cursive", cursive;
  font-size: 30px;
  align-items: center;
  align-items: baseline;
  display: inline;
  border-right: auto;
}

table {
  border: 2px solid rgb(115, 9, 148);
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
  background-color: rgb(89, 8, 109);
  color: rgb(199, 163, 163);
  width: 100%;
}

.material-symbols-outlined:hover {
  transform: scale(1.4);
}

#transicao:hover {
  transform: scale(1.2);
}

#menu:hover {
  transform: scale(1.1);
}

#logtitulo {
  color: rgb(104, 17, 97);
}

#titletable {
  font-family: "Play Display", serif;
  font-size: 30px;
  color: black;
  text-align: center;
}

#logtable {
  text-align: center;
  align-items: center;
  border: 4px solid rgb(190, 128, 190);
  width: 585px;
  margin-right: 50%;
  margin-left: 33%;
  width: 560px;
  height: 315px;
}

table {
  border: 3px solid rgb(209, 203, 122);
  padding: 5px;
}

h6 {
  color: rgb(247, 166, 166);
  font-size: 18px;
  font-weight: bold;
  font-family: "Kanit", sans-serif;
  margin-right: auto;
  font-weight: bold;
}

.table1 {
  width: 100%;
  margin: auto;
}

iframe {
  align-items: center;
  margin-left: 33%;
}

#titlevideo {
  font-family: "Kanit", sans-serif;
  color: black;
  font-size: 25px;
}

.img{
    display: flex;
justify-content: center;
align-items: center;
}

#logtext2 {
  font-family: serif;
  color: rgb(207, 24, 24);
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 22px;
}

#dificil:hover {
background-color: red;
}

#grafic {
  margin-left: 26em;
}

.finantable {
background-color: lightpink;
border: solid black;
align-items: center;
}

.finantd:hover {
  transform: scale(1.2);
}

#imgj {
  margin-left: 29em;
}

#iframefinan {
  margin-left: 43em;
}

#formulajcjs {
  font-size: 25px;
  color: blue;
  font-weight: bold; 
}

#botao1 {
  background-color: rgb(96, 153, 38);
  border: 2px solid green;
  border-radius: 10px;
}

#botao {
  background-color: rgb(219, 216, 39);
  border: 2px solid rgb(167, 165, 47);
  border-radius: 10px;
}

input {
  border: 2px solid rgb(202, 117, 202);
  border-radius: 10px;
}

select {
  border: 2px solid rgb(202, 117, 202);
  border-radius: 10px;
}